.slick-dots ul .slick-active{
   position: relative;
  
}
.slick-dots ul .slick-active::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 25px;
    bottom: 25px;
    left: 3px;
    background: #F46B5B;
    border-radius: 10px;    
}

